<style>
    body {
        background-color: #E1F5FE;
    }

    .header {
        background-color: #64B5F6;
        color: #FFFFFF;
        padding: 10px;
    }

    .column {
        background-color: #FFFFFF;
        border: 1px solid #B0BEC5;
        padding: 20px;
    }

        .column:nth-child(1),
        .column:nth-child(3) {
            background-color: #BBDEFB;
        }
</style>


<div class="row">
    <div class="col-md-12 header">
        <h2>Header</h2>
        <p>Header content goes here.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2 column">
        <h3>Column 1</h3>
        <p>lorem</p>
    </div>
    <div class="col-md-8 column">
        <h3>Column 2</h3>
        <p>lorem</p>
    </div>
    <div class="col-md-2 column">
        <h3>Column 3</h3>
        <p>lorem</p>
    </div>
</div>
