@*@model UserRolesNew.ViewModels.Dashboard.DashboardVm

@if (User.IsInRole("Admin"))
{
    <button class="btn-approve-admin">Approve</button>
}
else if (User.IsInRole("RegularUser"))
{
    // No button for regular users
}*@










@model MedicalSuppliesWeb.ViewModels.Dashboard.DashboardVm

<style>
    .btn-approve {
        border: none;
        background-color: palegreen;
        color: black;
        padding: 4px 2px;
        font-size: 12px;
        
        border-radius: 10px; /* Adjust the border-radius value for softer edges */
        cursor: pointer;
    }
</style>

@if (User.IsInRole("Admin"))
{
    <button class="btn-approve">Approve</button>
}
else if (User.IsInRole("RegularUser"))
{
    // No button for regular users
}
