


<div class="col-md-2 column">
    <div class="sem-text">
        <h4>Southeast</h4>
        <h3>MOBILITY</h3>
        <h8 style="font-size:14px">11054 S Military Trl</h8>
        <h8 style="font-size:14px">Boynton Beach</h8>
        <h8 style="font-size:14px">FL 33436</h8>
    </div>
    <div class="left-menu">
        <a asp-action="index" asp-controller="Product" style="text-decoration: none;"><p>Products</p></a>
        <a asp-action="index" asp-controller="Supplier" style="text-decoration: none;"><p>Suppliers</p></a>
        <a asp-action="index" asp-controller="Facilities" style="text-decoration: none;"><p>Facilities</p></a>
        <a asp-action="NPILookup" asp-controller="Home" style="text-decoration: none;"><p>Doctors</p></a>
        <a asp-action="Index" asp-controller="Customer" style="text-decoration: none;"><p>Customers</p></a>
    </div>
</div>
