
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>
<body>

    <div class="row">

        <partial name="_LeftColumn" />

        <div class="col-md-8 column">

            <partial name="_SearchBox" />


            @*//following div (row) is the dynamic content of this page, it changes on each other page view redirected from here.
            everything else remain the same*@

            <div class="row">
                @for (int row = 0; row < 3; row++)
                {
                    <div class="row">
                        @for (int col = 0; col < 3; col++)
                        {
                            <div class="col-md-4">
                                <div class="card card-mini">
                                    <div class="card-body">
                                        <h5 class="card-title">Product @(row * 3 + col + 1)</h5>
                                        <p class="card-text">Description @(row * 3 + col + 1) </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

            @*/END/*@

        </div>
        
        <partial name="_RightColumn" />

    </div>

    <script src="~/js/DateTime.js"></script>

</body>
</html>