
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>
<body>

    <div class="row">

        <partial name="_LeftColumn" />


        <div class="col-md-8 column">

            <div class="search-box">

                <div class="mdc-text-field">
                    <input type="text" class="mdc-text-field__input" id="search-input">
                    <div class="mdc-line-ripple"></div>
                </div>


                <button type="button" class="btn btn-outline-dark btn-sm" ">Go!</button>
            </div>




                @*//following div (row) is the dynamic content of this page, it changes on each other page view redirected from here.
            everything else remain the same*@

            <div class="row">
                @for (int row = 0; row < 3; row++)
                {
                    <div class="row">
                        @for (int col = 0; col < 3; col++)
                        {
                            <div class="col-md-4">
                                <div class="card card-mini">
                                    <div class="card-body">
                                        <h5 class="card-title">Product @(row * 3 + col + 1)</h5>
                                        <p class="card-text">Description @(row * 3 + col + 1) </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

                @*/END/*@


        </div>


                @Html.Partial("_RightColumn")
                @*<partial name="_RightColumn" />*@




    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/11.0.0/material-components-web.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));
            mdc.ripple.MDCRipple.attachTo(document.querySelector('.mdc-button'));
        });
    </script>


    <script>
        function updateTime() {
            var currentDate = new Date();
            var date = currentDate.toDateString();
            var time = currentDate.toLocaleTimeString();
            var dateElement = document.querySelector('.date');
            var timeElement = document.querySelector('.time');
            dateElement.textContent = date;
            timeElement.textContent = time;
        }

        // Update the time every second
        setInterval(updateTime, 1000);

        // Initial update
        updateTime();
    </script>

</body>
</html>