
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/npilookup-style.css" />

</head>

<body>
    <div class="row">

        <partial name="_LeftColumn" />
        <div class="col-md-8 column">
            <partial name="_SearchBox" />

            @*DYNAMIC CONTENT START*@

            <div class="doctor-search" style="padding:70px">
                <input type="text" id="npi_org" placeholder="Doctor name or NPI">
                <button onclick="searchAPI()">Search</button>
            </div>

            <div id="resultTable" class="table-container"></div>

            @*/END/*@

        </div>

        <partial name="_RightColumn" />

    </div>

    <script src="~/js/DateTime.js"></script>
    <script src="~/js/NPILookup.js"></script>

</body>
</html>
