@model MedicalSuppliesWeb.ViewModels.Product.ProductVm



<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>
<body>

    <div class="row">

        <partial name="_LeftColumn" />

        <div class="col-md-8 column">

            <partial name="_SearchBox" />


            @*/DYNAMIC CONTENT BEGIN*@

            <h3>Cerate a form here for product creation</h3>

            @*/END/*@

        </div>

        <partial name="_RightColumn" />

    </div>

    <script src="~/js/DateTime.js"></script>

</body>
</html>