@using MedicalSuppliesWeb.Models;
@inject SignInManager<ApplicationUser> SignInManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<body style="background-color : #E1F5FE">

    <h4 style="padding:20px">Manage</h4>

    <div>
        @*<h2>Change your account settings</h2>*@

        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }


</body>


