@page
@model IndexModel
@{
    //ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" />
    <style>
        body {
            background-color: #E1F5FE;
            font-family: 'Roboto', sans-serif;
        }

        .header {
            background-color: #E1F5FE;
            color: #FFFFFF;
            padding: 15px;
        }

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            height: calc(100vh - 300px);
            margin-bottom: 50px;
        }

        .profile-box {
            background-color: #D1EAFD;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }

        .profile-title {
            margin-bottom: 20px;
            color: #333333;
            font-weight: 500;
        }

        .form-floating {
            margin-bottom: 15px;
        }

        .form-control {
            background-color: #FFFFFF;
            border-color: #C0C0C0;
            color: #333333;
        }

        .form-label {
            color: #333333;
            font-weight: 500;
        }

        .profile-submit {
            padding: 10px 20px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="center-container">
        <div class="col-md-6">
            <section>
                <div class="profile-box">
                    <form id="profile-form" method="post">
                        <h3>@ViewData["Title"]</h3>
                        <partial name="_StatusMessage" for="StatusMessage" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <input asp-for="Input.FirstName" class="form-control" />
                            <label asp-for="Input.FirstName" class="form-label"></label>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.LastName" class="form-control" />
                            <label asp-for="Input.LastName" class="form-label"></label>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Username" class="form-control" disabled />
                            <label asp-for="Username" class="form-label"></label>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.PhoneNumber" class="form-control" />
                            <label asp-for="Input.PhoneNumber" class="form-label"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <button id="update-profile-button" type="submit" class="btn btn-lg btn-primary profile-submit">Save</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
