@page
@model PersonalDataModel
@{
    //ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Manage Your Personal Data</p>
        <p>
            <strong>Data deletion is irreversible.</strong>
        </p>

        <div class="d-flex justify-content-start">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-sm" type="submit">Download</button>
            </form>

            <a id="delete" asp-page="DeletePersonalData" class="btn btn-sm">Delete</a>
        </div>





    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
